body{
	color: #ffffb3;
}

/* navbar area */


.navimage{
	height: 35px; 
	width: 35px;
}

.navbar ul li p{
	color: #ffffb3;
	font-weight: bold;
}

/*Navbar */

.navbar ul > li > a{
	color: #ffffb3;
	font-weight: bold;
	margin-top: 0.15em;
	border-radius: 5px;
	background: transparent;
	
}

/*Tab details*/

.nav-tabs > li > a:hover{
  background-color: #ffc64c !important;
    border: medium none;
    color:#000;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #FF6B6B;
    border-color: #7f5700;
    color: #1A535C;
}

#bottomTable{
	width:100%;
	height:30%;
}

/*Canvas part*/

#canvas
{
	position:absolute;
	/*opacity: 0.3;*/
}

#mapCanvas
{
	position:absolute;
	/*z-index: -1;*/
}	



/* Main Content */

.container{
	background: rgba(0,0,0,0.6);
	padding: 1em;
}

.white-bg{
	color: black;
}

/* 81 vh viewport height*/
.bigpart{
	/*background-color: #dddddd;*/
	height:100%;
}
.littlepart{
	/*background-color: #444444;*/
	height:81vh;
}
.panel{
	margin-top: 1em;
	height: 45%;
	overflow: auto;
	background: rgba(255,255,255,0.5);
}

#bottomgroup{
	background: rgba(255,255,255,0.2);
}

/*Navigation controls*/
/*move navigation*/
#nav_buttons{
	color: black;
}

#world{
	background-color: red;
	padding: 5px;
	background: url('./image/nav.png') no-repeat -71px -62px;
	width: 38px;
	height: 37px;
}
#world:active {
	background: url('./image/nav.png') no-repeat -241px -62px;
}

#left{
	background-color: red;
	padding: 5px;
	padding-left: 5px;
	background: url('./image/nav.png') no-repeat -7px -62px;
	width: 55px;
	height: 37px;
}
#left:active{
	background: url('./image/nav.png') no-repeat -177px -62px;
}

#right{
	background-color: red;
	padding: 5px;
	background: url('./image/nav.png') no-repeat -116px -62px;
	width: 56px;
	height: 37px;
}
#right:active{
	background: url('./image/nav.png') no-repeat -286px -62px;
}

#up{
	background-color: red;
	padding: 5px;
	background: url('./image/nav.png') no-repeat -71px 0px;
	width: 38px;
	height: 55px;
}
#up:active{
	background: url('./image/nav.png') no-repeat -241px 0px;
}

#down{
	background-color: red;
	padding: 5px;
	background: url('./image/nav.png') no-repeat -71px -104px;
	width: 38px;
	height: 55px;
}
#down:active{
	background: url('./image/nav.png') no-repeat -241px -104px;
}

.blank {
	margin: 0px;
}





#ctxMenu{
	background-color: white;
}
#ctxMenu button{
	font-family: 'Josefin Slab', serif;
}
