html, body{
	font-family: 'Josefin Slab', serif;
	
	height: 100%;
	width: 100%;
	margin: 0px;
	padding-bottom: 5em;
	background: url("../maincss/image/oldpaper.jpg") repeat-y;
	background-size: cover;
	font-size: 1.2em;
	color: white;
}

/*Navbar deets*/
.navbar ul li p{
	color: #ffffb3;
	font-weight: bold;
}

/*Navbar */

.navbar ul > li > a{
	color: #ffffb3;
	font-weight: bold;
	margin-top: 0.15em;
	border-radius: 5px;
	background: transparent;
	
}

/*Tab details*/

.nav-tabs > li > a:hover{
  background-color: #ffc64c !important;
    border: medium none;
    color:#000;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #FF6B6B;
    border-color: #7f5700;
    color: #1A535C;
}

.col-md-10{
	background: rgba(0,0,0,0.5);
}

.panel{
	background: rgba(0,0,0,0.2);
	overflow: hidden;
}

#legend
{
	position:relative;
}

#parentInfo
{
	position:relative;
}

#canvas
{
	position:absolute;
	/*opacity: 0.3;*/
}

#mapCanvas
{
	position:absolute;
}