/*Main stylesheet that is most common*/
body{
	background: url("./image/oldpaper.jpg") no-repeat;
	background-size: cover;
	font-size: 1.6em;
}

/*Navbar tab */

.navbar ul > li > a{
	color: #ffffb3;
	font-weight: bold;
	border-radius: 5px;
	background: transparent;
	
}

/*Tab details*/

.nav-tabs > li > a:hover{
  background-color: #ffc64c !important;
    border: medium none;
    color:#000;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #FF6B6B !important;
    border-color: #7f5700;
    color: #1A535C;
}


/*Navbar details*/
.navbar{
	border-radius: 0px;
	
}
.navbar ul li p{
	color: #ffffb3;
	font-weight: bold;
}



/*Body details*/