body{
	background: url("./wasteland2.jpg") no-repeat;
	background-size: cover; /* contain | percent */
}

.jumbotron{
	background: url("./wasteland2.jpg")  no-repeat;
	color: white;
	border-style: solid;
	border-color: black;
}
.jumbotron p{
	font-size: 14px;
}

#infobar{
	z-index:1;
	position: absolute; 
	left:1em; 
	width:100%; 
	color: white;
	top: 4em;
	background: rgba(117,117,163,0.3);
	pointer-events: none;
}
#infobar div{
	background-color:#000000; 
	height: 40em; 
	border-radius: 10px;
}
.hidden{
	display: none;
}
.btn-button-hollow, .btn-button-hollow:link, .btn-button-hollow:visited {
    -webkit-transition: background-color 1s ease, color 0.5s ease;
    -moz-transition: background-color 1s ease, color 0.5s ease;
    -o-transition: background-color 1s ease, color 0.5s ease;
    transition: background-color 1s ease, color 0.5s ease;

    background-color: transparent;
    border-radius: 5px;
    color:  #acc1cc;
    margin-left: 2em;
    border: 2px solid #000000;
    font-size: 20px;
    width: 150%;
}
.btn-button-hollow:active, .btn-button-hollow:hover {
    background-color: #000000;
    color: #fff;
}
