body{
	color: #ffffb3;
}

/* navbar area */


.navimage{
	height: 40px; 
	width: 40px;
}

.navbar ul li p{
	color: #ffffb3;
	font-weight: bold;
}

/*Navbar */

.navbar ul > li > a{
	color: #ffffb3;
	font-weight: bold;
	margin-top: 0.15em;
	border-radius: 5px;
	background: transparent;
	
}

/*Tab details*/

.nav-tabs > li > a:hover{
  background-color: #ffc64c !important;
    border: medium none;
    color:#000;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #cc8b00 !important;
    border-color: #7f5700;
    color: white;
}

#bottomTable{
	width:100%;
	height:30%;
}

/*Canvas part*/

#canvas
{
	position:absolute;
	/*opacity: 0.3;*/
}

#mapCanvas
{
	position:absolute;
}	


/* Main Content */
.bigpart{
	/*background-color: #dddddd;*/
	height:100%;
}
.littlepart{
	/*background-color: #444444;*/
	height:100%;
}
.panel{
	margin-top: 1em;
	height: 45%;

}



