body{
	color: #ffffb3;
}

/* navbar area */


.navimage{
	height: 40px; 
	width: 40px;
}

.navbar ul li p{
	color: #ffffb3;
	font-weight: bold;
}

/*Navbar */

.navbar ul > li > a{
	color: #ffffb3;
	font-weight: bold;
	margin-top: 0.15em;
	border-radius: 5px;
	background: transparent;
	
}

/*Tab details*/

.nav-tabs > li > a:hover{
  background-color: #ffc64c !important;
    border: medium none;
    color:#000;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #cc8b00 !important;
    border-color: #7f5700;
    color: white;
}

#bottomTable{
	width:100%;
	height:30%;
}

/*Canvas part*/

#canvas
{
	position:absolute;
	/*opacity: 0.3;*/
}

#mapCanvas
{
	position:absolute;
	/*z-index: -1;*/
}	


/* Main Content */

.container{
	background: rgba(0,0,0,0.6);
	padding: 1em;
}

.white-bg{
	color: black;
}

/* 81 vh viewport height*/
.bigpart{
	/*background-color: #dddddd;*/
	height:100%;
}
.littlepart{
	/*background-color: #444444;*/
	height:81vh;
}
.panel{
	margin-top: 1em;
	height: 45%;

	background: rgba(255,255,255,0.5);
}

.panel-body{
}


#ctxMenu{
	background-color: white;
}
